<p>
<h2>Showing newest articles for <%= current_user.login_name %> </h2>
<br />
 
<center>
<table id="channels" class="table table-striped table-condensed table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
 </thead>
 <tbody>
  <% @latest_articles.each do |article| %>
    <tr>
      <td class="span5"><%= article.title %></td>
      <td class="span7"><%= article.description.gsub(/(<[^>]+>)/, '').gsub("&aacute;", "á").gsub("&eoacute;", "é").gsub("&iacute;", "í").gsub("&oacute;", "ó").gsub("&uacute;", "ú").gsub("&ntilde;", "ñ") %></td>
    </tr>
  <% end %>
</tbody>
</table>
</center>
